// Clk
LOCATE COMP "clk" SITE "P6";
IOBUF PORT "clk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "btn_red" SITE "E12";
INPUT PORT "btn_red" IO_TYPE=LVCMOS33;

LOCATE COMP "btn_blue" SITE "E14";
INPUT PORT "btn_blue" IO_TYPE=LVCMOS33;

LOCATE COMP "sw" SITE "C13";
INPUT PORT "sw" IO_TYPE=LVCMOS33;

// LEDs
LOCATE COMP "led_red" SITE "B11";
IOBUF PORT "led_red" IO_TYPE=LVCMOS33;

LOCATE COMP "led_blue" SITE "A12";
IOBUF PORT "led_blue" IO_TYPE=LVCMOS33;

// 7-seg
LOCATE COMP "seg[0]" SITE "P14";
IOBUF PORT "seg[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[1]" SITE "N13";
IOBUF PORT "seg[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[2]" SITE "P12";
IOBUF PORT "seg[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[3]" SITE "N12";
IOBUF PORT "seg[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[4]" SITE "L13";
IOBUF PORT "seg[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[5]" SITE "M12";
IOBUF PORT "seg[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "seg[6]" SITE "M13";
IOBUF PORT "seg[6]" IO_TYPE=LVCMOS33;

// decimal
LOCATE COMP "dp" SITE "P11";
IOBUF PORT "dp" IO_TYPE=LVCMOS33;